In [1]:
# Import dependencies
import pandas as pd

# Define CSV files
school_data_csv = "Resources/schools_complete.csv"
student_data_csv = "Resources/students_complete.csv"

# Read CSV data into dataframes
school_data = pd.read_csv(school_data_csv)
student_data = pd.read_csv(student_data_csv)

# Merge two dataframes into one
data_merge = pd.merge(student_data, school_data, how = "left", on = ["school_name", "school_name"])
data_merge.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# Count the total number of unique schools
school_count = len(data_merge["school_name"].unique())
school_count

15

In [3]:
# Count the total number of students
student_count = len(data_merge["student_name"])
student_count

39170

In [7]:
# Calculate the total budget
total_budget = data_merge["budget"].unique().sum()
total_budget

24649428

In [9]:
# Calculate the average math score
avg_math = data_merge["math_score"].mean()
avg_math

78.98537145774827

In [10]:
# Calculate the average reading score
avg_reading = data_merge["reading_score"].mean()
avg_reading

81.87784018381414

In [13]:
# Determine the percentage of students who passed math
passing_math_count = data_merge[(data_merge["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [14]:
# Determine the percentage of students who passed reading
passing_reading_count = data_merge[(data_merge["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [15]:
# Determine the percentage of students who passed math and reading
passing_math_reading_count = data_merge[(data_merge["math_score"] >= 70) & (data_merge["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [17]:
# Creates a dataframe of the above metrics
district_summary = pd.dataframe()

# Formatting the dataframe
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

AttributeError: module 'pandas' has no attribute 'dataframe'

In [ ]:
# Sorts the schools by percentage overall passing in descending order
# Displays the top five rows
# Saves information in a dataframe: top_schools

In [ ]:
# Sorts the schools by percentage overall passing in ascending order
# Displays the top five rows
# Saves information in a dataframe: bottom_schools

In [ ]:
# Creates a dataframe of the average math school by grade level

In [ ]:
# Creates a table for school performace based on average spending ranges (per student)
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

pd.cut

spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
# Creates a dataframe: spending_summary
    # Average math score
    # Average reading score
    # % passing math (the percentage of students who passed math)
    # % passing reading (the percentage of students who passed reading)
    # % overall passing (the percentage of students who passed math AND reading)

In [ ]:
# Creates a dataframe: per_school_summary
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Use pd.cut on the "Total Students" column of the per_school_summary DataFrame.

# Create a DataFrame called size_summary that breaks down school performance based on school size (small, medium, or large).

In [ ]:
# Use the per_school_summary DataFrame from the previous step to create a new DataFrame called type_summary.

# This new DataFrame should show school performance based on the "School Type".